@import "tailwindcss";

@theme {
  /* Custom fonts */
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'Space Mono', monospace;
}

/* Custom styles for day/night indicator */
.location::after {
  content: attr(data-daynight);
  font-size: 1.2rem;
  margin-left: auto;
}
